form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: .8rem;
}

form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 10px;
}

form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 10px;
    resize: vertical;
}

form button[type="submit"] {
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
}